{% extends "header.html" %}
{% block body %}
				<section class="main-posts">
					<div class="post-container">
                        {% for post in posts %}
						<div><a href="i{{ post['pid'] }}" >
                            <img src="{{ page_context['id_to_path'](post['pid'])|thumbnail('480x480') }}"/>
                        </a></div>
                        {% endfor %}
					</div>
				</section>

                <hr class="hr-separator"/>
				<div class="button-container">
					{% if page_context['page'] != 1 %}
					<button class="next-page-button" onclick="getPrevPage()">
						Prev Page
					</button>
					{% else %}
					<button class="next-page-button" onclick="">
						First Page
					</button>
					{% endif %}
					
					{% if page_context['end'] == 0 %}
					<button class="next-page-button" onclick="getNextPage()">
						Next Page
					</button>
					{% else %}
					<button class="next-page-button" onclick="">
						Last Page
					</button>
					{% endif %}
				</div>
			</div>
{% endblock %}