<!doctype html>
<html ng-app="appMain">
	<head>
		<title>pictur</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<meta charset="utf-8">
		<!--<base href="/pictur/">-->
		<link href="static/stylesheet.css" rel="stylesheet" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400|Open+Sans+Condensed:300|Lato|Montserrat|Source+Sans+Pro:400,700italic|Varela|Poiret One|Roboto:100,300,400,900|Roboto+Slab|Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
		<link rel="icon" href="favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.6/angular-route.min.js"></script>
	</head>
	<body>
		<div class="wrapper">
			<header>
				<a href="#">pictur</a>
				<nav>
					<input type="text" placeholder="search"></input>
					<a href="">sign in</a>
					<a href="">sign up</a>
					<a href="">upload</a>
				</nav>
			</header>

			<div id="main">
				<!--<section class="home">
					<div class="banner">
						<h1>pictur</h1>
						<h3>Share Something!</h3>
					</div>
				</section>-->
				<!--<section class="main-posts">
					<div class="post-container">
						<div><img src="https://i.imgur.com/g77dAsa.gif"/></div>
						<div><img src="https://i.imgur.com/g77dAsa.gif"/></div>
						<div><img src="https://i.imgur.com/g77dAsa.gif"/></div>
						<div><img src="https://i.imgur.com/g77dAsa.gif"/></div>
						<div><img src="https://i.imgur.com/g77dAsa.gif"/></div>
						<div><img src="https://i.imgur.com/g77dAsa.gif"/></div>

					</div>
				</section>-->

				<section class="post">
					<div class="post-info">
						<h1 class="post-title">{{ post.title }}</h1>
						<h3 class="post-author">Posted by: {{ post.nickname }}</h3>
						<h3 class="post-datetime">at {{ post.time }}</h3>
					</div>
					<div class="post-vote">
						<button class="upvote"></button>
						<button class="downvote"></button>
					</div>
					<div class="post-image">
						<!-- <img src={{ image }}/> -->
					</div>
					<div class="post-subinfo">
						<h4 class="post-description">{{ post.description }}</h4>
					</div>
					<div class="post-comments">
						<p>Comments</p>

						{% macro childacomment(comment) %}
						<div class="comment comment-child child-a">
							<div class="comment-vote">
								<button class="upvote"></button>
								<button class="downvote"></button>
							</div>
							<p class="comment-author">{{ comment.uid }}</p>
							<p class="comment-datetime">{{ comment.time }}</p>
							<p class="comment-text">{{ comment.text }}</p>
							<button class="comment-reply">reply</button>
							{% for c in comment.children %} 
							    {{ childbcomment(c) }}
							{% endfor %}
						</div>
						{% endmacro %}

						{% macro childbcomment(comment) %}
						<div class="comment comment-child child-b">
							<div class="comment-vote">
								<button class="upvote"></button>
								<button class="downvote"></button>
							</div>
							<p class="comment-author">{{ comment.uid }}</p>
							<p class="comment-datetime">{{ comment.time }}</p>
							<p class="comment-text">{{ comment.text }}</p>
							<button class="comment-reply">reply</button>
							{% for c in comment.children %} 
							    {{ childacomment(c) }}
							{% endfor %}
						</div>
						{% endmacro %}

						{% for comment in comments %}
						    <div class="comment">
							    <div class="comment-vote">
								    <button class="upvote"></button>
								    <button class="downvote"></button>
							    </div>
							    <p class="comment-author">{{ comment.uid }}</p>
							    <p class="comment-datetime">{{ comment.time }}</p>
							    <p class="comment-text">{{ comment.text }}</p>
							    <button class="comment-reply">reply</button>
							    {% for c in comment.children %} 
								{{ childacomment(c) }}
							    {% endfor %}
						    </div>
						{% endfor %}

					<div class="post-new">
						<p>Post a comment!</p>
						<textarea></textarea>
						<button class="post-button">Post</button>
					</div>
				</section>
			</div>

			<span class="push"></span>
		</div>
		<footer>
		</footer>
	</body>
</html>
