{% extends "header.html" %}
{% import 'comment_macros.html' as cms %}
{% block body %}

				<section class="post">
					<div class="post-info">
						<h1 class="post-title">{{ post.title }}</h1>
						<h3 class="post-author">Posted by: <a href="../p/{{post.uid}}">{{ page_context.nickname }}</a></h3>
						<h3 class="post-datetime">at {{ post.time }}</h3>
					</div>
					<!--<div class="post-vote">
						<button class="upvote"></button>
						<button class="downvote"></button>
					</div>-->
					<div class="post-image">
						<img src="{{ image }}"/>
					</div>
					<div class="post-subinfo">
						<h4 class="post-description">{{ post.description }}</h4>
						{% if post.uid == page_context['uid'] and page_context['uid'] != 0 and page_context['uid'] != -1%}
						<form action="" method=post enctype=multipart/form-data>
							<button class="post-button delete-post" name="source" value="deletepost" onclick="return confirm('Are you sure you want to delete this post?')">delete</button>
						</form>
						{% endif %}
						<div class="post-tags">
							<p>Tags:</p>
							{% for tag in tags %}
								<a href="/search?tag={{tag}}">{{tag}}</a>
							{% endfor%}
						</div>
					</div>
					<div class="post-comments">
						<p>Comments</p>



						{% for comment in comments %}
						    <div class="comment" data-commentid="{{comment.cid}}">
							    <!--<div class="comment-vote">
								    <button class="upvote"></button>
								    <button class="downvote"></button>
							    </div>-->
                                {% if comment.uid == -1 %}
                                <p class="comment-author">[deleted]</p>
                                {% else %}
                                <a class="comment-author" href="../p/{{comment.uid}}">{{ comment.uname }}</a>
                                {% endif %}
							    <p class="comment-datetime">{{ comment.time }}</p>
							    {% if comment.uid == -1 %}
                                <p class="comment-text">[deleted]</p>
                                {% else %}
                                <p class="comment-text">{{ comment.text }}</p>
                                {% endif %}
								{% if comment.uid == page_context['uid'] and (page_context['uid'] != 0 and page_context['uid'] != -1)%}
									<a onclick="editComment(this)">edit</a>
									<form class="delete-comment-form" action="" method=post enctype=multipart/form-data>
										<input type="hidden" name="cid" value="{{comment.cid}}"></input>
										<button class="delete-comment" name="source" value="deletecomment" onclick="return confirm('Are you sure you want to delete this comment?')">delete</button>
									</form>
									
								{% endif %}
								<button class="comment-reply" onclick="showReply(this)">reply</button>
							    {% for c in comment.children %} 
								{{ cms.childacomment(c, page_context) }}
							    {% endfor %}
						    </div>
						{% endfor %}

					<div class="post-new">
						<p>Post a comment!</p>
						<form action="" method=post enctype=multipart/form-data>
							<input type="hidden" name="parentcid" value="0"></input>
							<textarea required title="Please enter a comment!" name="content">{{ page_context['auto_comment'] }}</textarea>
							<button class="post-button" type=submit name="source" value="comment">Post</button>
						</form>
					</div>
				</section>
			</div>
{% endblock %}