<!doctype html>
<html>
	<head>
		<title>pictur</title>
		<meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1" />
		<meta charset="utf-8">
		<link href="static/stylesheet.css" rel="stylesheet" type="text/css">
		<link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,300,400|Open+Sans+Condensed:300|Lato|Montserrat|Source+Sans+Pro:400,700italic|Varela|Poiret One|Roboto:100,300,400,900|Roboto+Slab|Roboto+Condensed:300,400' rel='stylesheet' type='text/css'>
		<link rel="icon" href="favicon.ico">
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	</head>
	<body>
		<span id="modal"></span>
		<div class="wrapper">
			<section class="signup-page">
				<h1>Welcome to Pictur!</h1>
				<p>Click below to start your sign up through Google!</p>
				<a class="google-signin-link" href=""><img class="google-signin-button" src="static/resources/transparent.gif"/></a>
				<br>
				<h1>Hi Person.First Person.Last!</h1>
				<p>Thanks for signing up with Pictur!</p>
				<p>Please choose a username to display on the site</p>
				<form>
					<input id="signup-name" type="text"></input>
					<label for="signup-name">Username</label>
					<button type="submit">Lets Go!</button>
				</form>
			</section>
			<span class="push"></span>
		</div>
		<footer>
		</footer>
	</body>
	<script src="/static/app.js"></script>
</html>
