$main-color: #2c3e50
$secondary-color: #FF4351//cc4444
$tertiary-color: #7B72E9 
$gold: #ffee99
$white: #f1f1f1
$black: #212121


$main-font: 'Roboto', sans-serif
$secondary-font: 'Montserrat', sans-serif

*
	box-sizing: border-box
body, html
	margin: 0
	padding: 0
	width: 100%
	height: 100%
	max-width: 100%
	background-color: #fcfcfc
p
	font-family: $main-font
	padding: 0
	margin: 0
a
	text-decoration: none
	font-family: $main-font
	color: $main-color
	transition: color .4s
	&:hover
		color: white
li, ul
	list-style: none
	padding: 0
	margin: 0
h1
	font-family: $secondary-font
	font-weight: 100
	margin: 0
	padding: 0
h3
	font-family: $main-font
	font-weight: 100
	margin: 0
	padding: 0

header
	position: fixed
	width: 100%
	z-index: 1
	background-color: $secondary-color
	padding: 10px 0
	a:first-child
		color: $white
		margin-left: 15px
		font-size: 2em
		font-weight: 100
nav
	display: inline-block
	float: right
	margin-top: 0px
	margin-right: 10px
	a
		color: darken($white, 5)
		font-weight: 300
		font-size: 1.2em
		padding: 0 3px
	input
		background-color: rgba($white, 50)
		border: 0
		color: $main-color
		padding: 10px
		margin-right: 10px
		transition: background-color .4s
		&:focus, &:active
			outline: 0
			background-color: darken($white, 8)

#main
	padding-top: 70px


.home
	.banner
		background-color: $gold
		height: 600px
		background-image: url(resources/pow.jpg)
		background-position: center center
		background-size: cover
		background-repeat: no-repeat
		h1
			font-size: 3em
			color: $secondary-color
			text-align: center
			padding-top: 100px
		h3
			font-size: 1.7em
			color: $secondary-color
			text-align: center
			padding-top: 15px


.post-container
	max-width: 100%
	width: 1000px
	margin: 0 auto
	background-color: $white
	padding: 20px
	display: flex
	flex-wrap: wrap
	justify-content: center
	div
		width: 300px
		height: 300px
		margin: 5px
		overflow: hidden
		position: relative
		border: 2px solid $black
		img
			width: 100%
			height: auto
			overflow: hidden
			opacity: .9
			transition: opacity .4s
			&:hover
				opacity: 1
				cursor: pointer

.post
	max-width: 100%
	width: 800px
	margin: 0 auto
	border-radius: 5px
	box-shadow: 0 0 8px 1px rgba(#555, .5)
	position: relative

.post-image
	background-color: $white
	img
		display: block
		max-width: 100%
		width: auto
		height: 400px
		margin: 0 auto

.post-info
	border-radius: 5px 5px 0 0
	padding: 15px 25px
	background-color: #ddd
	.post-title
		font-family: $secondary-color
		font-size: 1.5em
	.post-datetime, .post-author
		display: inline-block
		font-size: .9em
		font-weight: 300
	.post-author
		margin-left: 10px
.post-description
	background-color: #ddd
	margin: 0
	font-family: $main-font
	padding: 20px 30px
	font-weight: 300

.post-vote
	position: absolute
	top: 13px
	right: 12px
	padding: 8px

.upvote
	background-color: $secondary-color
	border: 0
	color: white
	width: 30px
	height: 30px
	transition: background-color .4s
	background-image: url(up.svg)
	background-size: cover
	&:hover
		cursor: pointer
		background-color: lighten($secondary-color, 10)
	&:active, &:focus
		outline: 0

.downvote
	@extend .upvote
	background-color: #444
	background-image: url(down.svg)
	&:hover
		background-color: #555

.post-comments
	padding-bottom: 10px
	background-color: #ddd
	> p:first-child
		color: $white
		padding: 0 30px
		font-family: $main-font
		padding: 10px 20px
		font-size: 1.2em
		background-color: $secondary-color


.comment
	position: relative
	background-color: #ddd
	padding: 10px
	padding-left: 30px
	padding-right: 0
	border-left: 0px solid transparent
	transition: all .4s
	&:hover
		padding-left: 30px
		border-left: 8px solid $secondary-color
		background-color: $white
.comment-author, .comment-datetime
	display: inline-block
.comment-author
	color: #f00
.comment-datetime
	font-size: .8em
	padding-left: 5px
.comment-text
	font-size: .9em
	font-family: "Source Sans Pro", sans-serif

.comment-child
	margin-left: 30px
	margin-top: 10px
.child-a
	background-color: #ccc
.child-b
	background-color: #ddd
.comment-reply
	background-color: transparent
	border: 0
	position: absolute
	right: 20px
	top: 20px
	color: $secondary-color
	font-weight: bold
	&:hover
		cursor: pointer
		text-decoration: underline
.comment-vote
	position: absolute
	left: 5px
	button
		display: block
		width: 20px
		height: 20px

.post-new
	margin-bottom: 30px
	padding-bottom: 100px
	p:first-child
		font-size: 1.3em
		padding: 20px
		padding-left: 60px
	textarea
		max-width: 100%
		margin: 0 auto
		display: block
		width: 700px
		height: 200px
		font-family: $main-font
		&:focus, &:active
			outline: 2px solid rgba($secondary-color, .5)
.post-button
	@extend .upvote
	background-image: none
	width: 60px
	position: absolute
	height: 40px
	right: 50px
	margin-top: 30px