* {
  box-sizing: border-box; }

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  background-color: #fcfcfc; }

p {
  font-family: "Roboto", sans-serif;
  padding: 0;
  margin: 0; }

a {
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  color: #2c3e50;
  transition: color 0.4s; }
  a:hover {
    color: white;
    cursor: pointer; }

li, ul {
  list-style: none;
  padding: 0;
  margin: 0; }

h1 {
  font-family: "Montserrat", sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0; }

h3 {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  margin: 0;
  padding: 0; }

button:focus, button:active {
  outline: 0; }

header {
  position: fixed;
  width: 100%;
  z-index: 1;
  background-color: #FF4351;
  padding: 10px 0; }
  header a:first-child {
    color: #f1f1f1;
    margin-left: 10px;
    font-size: 2em;
    font-weight: 100; }

.mobile-nav {
  display: none; }

#svg_3, #svg_4, #svg_5 {
  transition: all 0.5s;
  transform-origin: 50% 50%; }

.svg_3 {
  transform: rotate3d(0, 0, 1, 45deg);
  top: 0; }

.svg_5 {
  transform: translate(0, -3px) rotate3d(0, 0, 1, -45deg); }

.svg_4 {
  transform: translate(0, 3px) rotate3d(0, 0, 1, -45deg);
  bottom: 0; }

nav {
  display: inline-block;
  float: right;
  margin-top: 0px;
  margin-right: 10px; }
  nav a {
    color: #e4e4e4;
    font-weight: 300;
    font-size: 1.2em;
    padding: 0 3px; }
  nav input {
    background-color: #f1f1f1;
    border: 0;
    color: #2c3e50;
    padding: 10px;
    margin-right: 10px;
    transition: background-color 0.4s; }
    nav input:focus, nav input:active {
      outline: 0;
      background-color: white; }

@media(max-width: 600px) {
  header {
    padding: 5px 0; }
    header a:first-child {
      font-size: 1.8em; }

  nav {
    display: none;
    width: 100%;
    margin-right: 0;
    text-align: right;
    padding-bottom: 5px; }
    nav a {
      padding-right: 3%; }
    nav input {
      width: 95%;
      margin-bottom: 5px;
      margin-top: 5px; }

  .mobile-nav {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    height: 44px;
    width: 44px;
    z-index: 2; }

  #main {
    padding-top: 40px !important; } }
.close {
  background-size: cover;
  width: 35px;
  height: 35px;
  position: absolute;
  top: 5px;
  right: 5px; }
  .close svg {
    fill: #666;
    height: 35px;
    width: 35px;
    transition: fill 0.4s; }
    .close svg:hover {
      fill: #FF4351; }
  .close:hover {
    cursor: pointer; }

.google-signin-link {
  border: 0; }

.google-signin-button {
  border: 0;
  background-image: url(resources/icons/btn_google_signin_dark_normal_web.png);
  height: 46px;
  width: 191px;
  transition: background-image 0.4s; }
  .google-signin-button:focus {
    background-image: url(resources/icons/btn_google_signin_dark_focus_web.png); }
  .google-signin-button:hover {
    background-image: url(resources/icons/btn_google_signin_dark_pressed_web.png); }

.preload {
  display: none; }

.signup-page {
  max-width: 100%;
  width: 800px;
  margin: 0 auto;
  padding: 30px;
  background-color: #e5e5e5;
  margin-top: 50px;
  position: relative; }
  .signup-page h1 {
    color: #FF4351;
    font-size: 2.6em; }
  .signup-page p {
    font-family: "Lato";
    font-size: 1.2em;
    margin-top: 20px; }
  .signup-page a {
    margin-top: 22px;
    display: inline-block; }
  .signup-page input {
    margin-top: 40px;
    padding: 14px;
    font-size: 1.5em;
    background-color: #f1f1f1;
    transition: background-color 0.4s;
    border: 0;
    border-bottom: 4px solid #FF4351;
    display: block; }
  .signup-page label {
    font-family: "Roboto", sans-serif;
    margin-top: -45px;
    padding: 5px 10px;
    left: 30px;
    position: absolute;
    transition: margin 0.4s, background-color 0.4s, color 0.4s;
    pointer-events: none;
    width: auto; }
  .signup-page input:active + label, .signup-page input:focus + label {
    margin-top: -90px;
    background-color: #FF4351;
    color: white; }
  .signup-page input:active, .signup-page input:focus {
    outline: 0;
    background-color: #fff; }
  .signup-page button {
    text-align: left;
    margin: 0 !important;
    transform: scale(0.5);
    transform-origin: left; }

#main {
  padding-top: 50px; }

.home .banner {
  padding-bottom: 50px;
  background-color: #ffee99;
  background-image: url(resources/pow.jpg);
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat; }
  .home .banner h1 {
    font-size: 3em;
    color: #FF4351;
    text-align: center;
    padding-top: 100px; }
  .home .banner h3 {
    font-size: 1.7em;
    color: #FF4351;
    text-align: center;
    padding-top: 15px; }

.post-container {
  -moz-column-count: 5;
  -webkit-column-count: 5;
  column-count: 5;
  max-width: 100%;
  width: 1500px;
  margin: 0 auto;
  background-color: #f1f1f1;
  padding: 20px; }
  .post-container div {
    width: 100%;
    max-width: 100%;
    height: auto;
    display: inline-block; }
    .post-container div a {
      width: 100%;
      max-height: 400px;
      height: auto;
      display: block;
      overflow: hidden;
      opacity: 0.9;
      transition: opacity 0.4s; }
      .post-container div a:hover {
        opacity: 1;
        cursor: pointer; }
      .post-container div a img {
        width: 100%;
        height: auto; }

@media(max-width: 1300px) {
  .post-container {
    -moz-column-count: 4;
    -webkit-column-count: 4;
    column-count: 4; } }
@media(max-width: 900px) {
  .post-container {
    -moz-column-count: 3;
    -webkit-column-count: 3;
    column-count: 3; } }
@media(max-width: 600px) {
  .post-container {
    -moz-column-count: 2;
    -webkit-column-count: 2;
    column-count: 2; }

  #main .post {
    margin-top: 0; }
    #main .post .post-vote {
      top: 0;
      right: 0; } }
@media(max-width: 375px) {
  .post-container {
    -moz-column-count: 1;
    -webkit-column-count: 1;
    column-count: 1; } }
.post {
  max-width: 100%;
  width: 800px;
  margin: 0 auto;
  border-radius: 5px;
  box-shadow: 0 0 8px 1px rgba(85, 85, 85, 0.5);
  position: relative;
  margin-top: 20px; }

.post-image {
  background-color: #f1f1f1; }
  .post-image img {
    display: block;
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 0 auto; }

.post-info {
  border-radius: 5px 5px 0 0;
  padding: 15px 25px;
  background-color: #ddd; }
  .post-info .post-title {
    font-size: 1.5em; }
  .post-info .post-datetime, .post-info .post-author {
    display: inline-block;
    font-size: 0.9em;
    font-weight: 300; }
  .post-info .post-author {
    margin-left: 10px; }

.post-description {
  background-color: #ddd;
  margin: 0;
  font-family: "Roboto", sans-serif;
  padding: 20px 30px;
  font-weight: 300; }

.post-tags {
  height: 40px;
  padding: 10px 30px;
  background-color: #cfcfcf; }
  .post-tags a, .post-tags p {
    display: inline-block; }
  .post-tags a {
    color: #212121; }
    .post-tags a:hover {
      color: #FF4351; }

.post-vote {
  position: absolute;
  top: 13px;
  right: 12px;
  padding: 8px; }

.upvote, .downvote, .post-button, .next-page-button, .signup-page button {
  background-color: #FF4351;
  border: 0;
  color: white;
  width: 30px;
  height: 30px;
  transition: background-color 0.4s;
  background-image: url(resources/icons/up.svg);
  background-size: cover; }
  .upvote:hover, .downvote:hover, .post-button:hover, .next-page-button:hover, .signup-page button:hover {
    cursor: pointer;
    background-color: #ff7680; }
  .upvote:active, .downvote:active, .post-button:active, .next-page-button:active, .signup-page button:active, .upvote:focus, .downvote:focus, .post-button:focus, .next-page-button:focus, .signup-page button:focus {
    outline: 0; }

.downvote {
  background-color: #444;
  background-image: url(resources/icons/down.svg); }
  .downvote:hover {
    background-color: #555; }

.post-comments {
  padding-bottom: 10px;
  background-color: #ddd; }
  .post-comments > p:first-child {
    color: #f1f1f1;
    padding: 0 30px;
    font-family: "Roboto", sans-serif;
    padding: 10px 20px;
    font-size: 1.2em;
    background-color: #FF4351; }

.comment {
  position: relative;
  background-color: #ddd;
  padding: 10px;
  padding-left: 30px;
  padding-right: 0;
  border-left: 0px solid transparent;
  transition: all 0.4s; }
  .comment:hover {
    padding-left: 30px;
    border-left: 8px solid #FF4351;
    background-color: #f1f1f1; }
  .comment a:hover {
    color: #FF4351; }

.comment-author, .comment-datetime {
  display: inline-block; }

.comment-author {
  color: #f00; }

.comment-datetime {
  font-size: 0.8em;
  padding-left: 5px; }

.comment-text {
  font-size: 0.9em;
  font-family: "Source Sans Pro", sans-serif; }

.comment-child {
  margin-left: 30px;
  margin-top: 10px; }

.child-a {
  background-color: #ccc; }

.child-b {
  background-color: #ddd; }

.comment-reply {
  background-color: transparent;
  border: 0;
  position: absolute;
  right: 20px;
  top: 20px;
  color: #FF4351;
  font-weight: bold; }
  .comment-reply:hover {
    cursor: pointer;
    text-decoration: underline; }

.comment-vote {
  position: absolute;
  left: 5px; }
  .comment-vote button {
    display: block;
    width: 20px;
    height: 20px; }

.comment-reply-wrapper {
  margin-left: 30px;
  margin-top: 5px; }
  .comment-reply-wrapper textarea {
    width: 300px;
    height: 100px; }
    .comment-reply-wrapper textarea:active, .comment-reply-wrapper textarea:focus {
      outline: none; }
  .comment-reply-wrapper .post-button, .comment-reply-wrapper .next-page-button, .comment-reply-wrapper .signup-page button, .signup-page .comment-reply-wrapper button {
    position: static;
    vertical-align: bottom;
    margin-top: 0;
    margin-bottom: 4px;
    margin-left: 5px; }

.post-new {
  margin-bottom: 30px;
  padding-bottom: 100px; }
  .post-new p:first-child {
    font-size: 1.3em;
    padding: 20px;
    padding-left: 60px; }
  .post-new textarea {
    max-width: 100%;
    margin: 0 auto;
    display: block;
    width: 700px;
    height: 200px;
    font-family: "Roboto", sans-serif; }
    .post-new textarea:focus, .post-new textarea:active {
      outline: 2px solid rgba(255, 67, 81, 0.5); }

.post-button, .next-page-button, .signup-page button {
  background-image: none;
  width: 60px;
  position: absolute;
  height: 40px;
  right: 50px;
  margin-top: 30px; }

.delete-post {
  right: 0;
  margin-top: 0; }
  .delete-post:hover {
    background-color: #ff1111; }

.comment-edit-form textarea {
  height: 80px;
  max-width: 90%;
  width: 300px;
  padding: 5px; }
  .comment-edit-form textarea:active, .comment-edit-form textarea:focus {
    outline: 0; }
.comment-edit-form button {
  right: auto;
  margin-top: 40px; }

.delete-comment-form {
  display: inline-block; }

.delete-comment {
  background: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
  display: inline-block;
  transition: color 0.4s;
  font-size: 1em;
  color: #2c3e50;
  height: 19px;
  padding: 0; }
  .delete-comment:hover {
    cursor: pointer;
    color: #FF4351; }

.upload {
  display: none;
  z-index: 5;
  position: fixed;
  left: 0;
  right: 0;
  top: 80; }
  .upload form {
    max-width: 100%;
    width: 450px;
    margin: 0 auto;
    background-color: #e3e3e3;
    text-align: center;
    padding: 20px 30px;
    position: relative; }
  .upload input, .upload textarea {
    font-family: "Roboto", sans-serif;
    width: 350px;
    max-width: 100%;
    background-color: transparent;
    border: 0;
    border-bottom: 2px solid #FF4351;
    display: block;
    margin: 0 auto;
    padding: 20px;
    transition: all 0.4s; }
    .upload input:active, .upload input:focus, .upload textarea:active, .upload textarea:focus {
      outline: 0;
      background-color: #f1f1f1; }
  .upload button {
    max-width: 100%;
    display: block;
    margin: 0 auto;
    width: auto;
    margin-top: 20px;
    border: 0;
    background-color: #FF4351;
    color: white;
    padding: 15px 15px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    transition: background-color 0.4s; }
    .upload button:hover {
      background-color: #ff7680;
      cursor: pointer; }
    .upload button:focus, .upload button:active {
      outline: none; }

.upload-wrapper {
  width: 350px;
  max-width: 100%;
  margin: 10px auto; }
  .upload-wrapper input[type="file"] {
    position: absolute;
    left: -99999px; }
  .upload-wrapper label {
    background-color: #FF4351;
    padding: 15px 5px;
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    float: right;
    color: #f1f1f1;
    transition: background-color 0.4s; }
    .upload-wrapper label:hover {
      cursor: pointer;
      background-color: #ff7680; }
  .upload-wrapper input {
    max-width: calc(100% - 95px);
    width: 245px;
    display: inline-block;
    padding: 15px 5px;
    margin: 0;
    float: left;
    padding-left: 20px; }

#fileUpload-text {
  pointer-events: none; }

#modal {
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5); }

.login {
  position: fixed;
  margin: 0 auto;
  left: 0;
  right: 0;
  z-index: 5;
  top: 100px;
  padding: 30px;
  max-width: 100%;
  width: 300px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.6); }
  .login h1 {
    margin-bottom: 10px;
    color: white; }
  .login form input {
    display: block;
    margin: 0 auto;
    padding: 10px;
    margin-bottom: 10px;
    border: 0;
    transition: background-color 0.4s;
    background-color: transparent;
    border-bottom: 1px solid #FF4351;
    color: #f1f1f1; }
    .login form input:active, .login form input:focus {
      outline: 0;
      background-color: white;
      color: black; }
  .login form button {
    background-color: #FF4351;
    border: 0;
    padding: 13px;
    color: #f1f1f1;
    transition: background-color 0.4s; }
    .login form button:hover {
      background-color: #ff7680;
      cursor: pointer; }

.next-page-button, .signup-page button {
  position: static;
  width: auto;
  margin: 0 auto;
  display: block;
  margin-bottom: 35px;
  font-size: 1.5em;
  padding: 20px;
  height: auto; }

/*# sourceMappingURL=stylesheet.css.map */
